
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
  }
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #8B4513;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #8B4513; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#8B4513;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#8B4513; }
  * {
      border: 0;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  :root {
      font-size: calc(16px + (24 - 16)*(100vw - 320px)/ (1920 - 320));
  }
  /** Container **/
  main {
      display: flex;
      flex-wrap: wrap;
  }
  .cell {
      flex-basis: 50%;
      padding: 1.5em;
  }
  
  /** Global preloader styles **/
  .pl, .pl:before, .pl:after {
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }
  .pl {
      margin: 0 auto 1.5em auto;
      position: relative;
      width: 3em;
      height: 3em;
  }
  .pl:before, .pl:after {
      background: currentColor;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      transform-origin: 50% 100%;	
      clip-path: polygon(0 0,100% 0,50% 100%);
      -webkit-clip-path: polygon(0 0,100% 0,50% 100%);
  }
  .pl-name {
      text-align: center;
  }
  
  /** Styles for individual preloaders **/
  /* Bow */
  .pl-bow {
      animation-name: bowA;
  }
  .pl-bow:after {
      transform: rotate(180deg);
  }
  @keyframes bowA {
      from { transform: scale(1,1) rotate(0turn) }
      25%, 35%, 50% { transform: scale(1,1) rotate(0.75turn) }
      30% { transform: scale(1.25,1) rotate(0.75turn) }
      75%, 85%, to { transform: scale(1,1) rotate(1.5turn) }
      80% { transform: scale(1,1.25) rotate(1.5turn) }
  }
  
  /* Butterfly */
  .pl-butterfly {
      animation-name: butterflyA;
  }
  .pl-butterfly:before {
      animation-name: butterflyB;
  }
  .pl-butterfly:after {
      animation-name: butterflyC;
  }
  @keyframes butterflyA {
      from, to { transform: translateY(0) }
      50% { transform: translateY(25%) }
  }
  @keyframes butterflyB {
      from, 50%, to { transform: rotate(60deg) }
      25%, 75% { transform: rotate(120deg) }
  }
  @keyframes butterflyC {
      from, 50%, to { transform: rotate(300deg) }
      25%, 75% { transform: rotate(240deg) }
  }
  
  /* Fade */
  .pl-fade:before {
      animation-name: fadeA;
  }
  .pl-fade:after {
      animation-name: fadeB;
  }
  @keyframes fadeA {
      from, to { opacity: 1; transform: rotate(0deg) }
      25%, 75.1% { opacity: 0; transform: rotate(0deg) }
      25.1%, 75% { opacity: 0; transform: rotate(180deg) }
      50% { opacity: 1; transform: rotate(180deg) }
  }
  @keyframes fadeB {
      from, 50% { opacity: 0; transform: rotate(90deg) }
      25% { opacity: 1; transform: rotate(90deg) }
      50.1%, to { opacity: 0; transform: rotate(270deg) }
      75% { opacity: 1; transform: rotate(270deg) }
  }
  
  /* Flip */
  .pl-flip {
      animation-name: flipA;
      animation-timing-function: steps(1);
  }
  .pl-flip:before, .pl-flip:after {
      transform-origin: 50% 50%;
  }
  .pl-flip:before {
      animation-name: flipB;
  }
  .pl-flip:after {
      animation-name: flipC;
  }
  @keyframes flipA {
      from, 75%, to { transform: rotate(0) }
      25%, 50% { transform: rotate(90deg) }
  }
  @keyframes flipB {
      from { transform: translateY(0) rotateX(0deg) }
      6.25% { transform: translateY(0) rotateX(0deg) }
      12.5% { transform: translateY(-50%) rotateX(90deg) }
      18.75% { transform: translateY(0) rotateX(180deg) }
      31.25% { transform: translateY(0) rotateX(180deg) }
      37.5% { transform: translateY(-50%) rotateX(270deg) }
      43.75% { transform: translateY(0) rotateX(360deg) }
      50% { transform: translateY(0) rotateX(360deg) }
      56.25% { transform: translateY(0) rotateX(360deg) }
      62.5% { transform: translateY(-50%) rotateX(450deg) }
      68.75% { transform: translateY(0) rotateX(540deg) }
      81.25% { transform: translateY(0) rotateX(540deg) }
      87.5% { transform: translateY(-50%) rotateX(630deg) }
      93.75% { transform: translateY(0) rotateX(720deg) }
      to { transform: translateY(0) rotateX(720deg) }
  }
  @keyframes flipC {
      from { transform: translateY(100%) rotateZ(180deg) rotateX(0deg) }
      6.25% { transform: translateY(100%) rotateZ(180deg) rotateX(0deg) }
      12.5% { transform: translateY(150%) rotateZ(180deg) rotateX(90deg) }
      18.75% { transform: translateY(100%) rotateZ(180deg) rotateX(180deg) }
      31.25% { transform: translateY(100%) rotateZ(180deg) rotateX(180deg) }
      37.5% { transform: translateY(150%) rotateZ(180deg) rotateX(270deg) }
      43.75% { transform: translateY(100%) rotateZ(180deg) rotateX(360deg) }
      50% { transform: translateY(100%) rotateZ(180deg) rotateX(360deg) }
      56.25% { transform: translateY(100%) rotateZ(180deg) rotateX(360deg) }
      62.5% { transform: translateY(150%) rotateZ(180deg) rotateX(450deg) }
      68.75% { transform: translateY(100%) rotateZ(180deg) rotateX(540deg) }
      81.25% { transform: translateY(100%) rotateZ(180deg) rotateX(540deg) }
      87.5% { transform: translateY(150%) rotateZ(180deg) rotateX(630deg) }
      93.75% { transform: translateY(100%) rotateZ(180deg) rotateX(720deg) }
      to { transform: translateY(100%) rotateZ(180deg) rotateX(720deg) }
  }
  
  /* Hourglass */
  .pl-hourglass {
      animation-name: hourglassA;
      background: #a3a3a3;
      clip-path: polygon(0 0,100% 0,50% 50%,100% 100%,0 100%,50% 50%);
      -webkit-clip-path: polygon(0 0,100% 0,50% 50%,100% 100%,0 100%,50% 50%);
  }
  .pl-hourglass:before, .pl-hourglass:after {
      position: static;
      clip-path: none;
      -webkit-clip-path: none;
  }
  .pl-hourglass:before {
      animation-name: hourglassB;
  }
  .pl-hourglass:after {
      animation-name: hourglassC;
  }
  @keyframes hourglassA {
      from, 75% { transform: rotate(0) }
      to { transform: rotate(180deg) }
  }
  @keyframes hourglassB {
      from { transform: scaleY(1) }
      50%, to { transform: scaleY(0) }
  }
  @keyframes hourglassC {
      from { transform: scaleY(0) }
      50%, to { transform: scaleY(1) }
  }
  
  /* Kinetic */
  .pl-kinetic:before {
      animation-name: kineticA;
  }
  .pl-kinetic:after {
      animation-name: kineticB;
  }
  @keyframes kineticA {
      from, 25% { transform: rotate(0deg) }
      50%, 75% { transform: rotate(180deg) }
      to { transform: rotate(360deg) }
  }
  @keyframes kineticB {
      from { transform: rotate(90deg) }
      25%, 50% { transform: rotate(270deg) }
      75%, to { transform: rotate(450deg) }
  }
  
  /* Leap Frog */
  .pl-leapfrog:before, .pl-leapfrog:after {
      clip-path: polygon(0 0,100% 0,0 100%);
      -webkit-clip-path: polygon(0 0,100% 0,0 100%);
      top: 50%;
      left: 50%;
      width: 70.71%;
      height: 70.71%;
      transform-origin: 0 0;
  }
  .pl-leapfrog:before {
      animation-name: leapFrogA;
  }
  .pl-leapfrog:after {
      animation-name: leapFrogB;
      background: #a3a3a3;
  }
  @keyframes leapFrogA {
      from { transform: rotateZ(-135deg) rotateY(0deg) rotateX(0deg); z-index: 0 }
      12.5% { transform: rotateZ(-135deg) rotateY(-180deg) rotateX(0deg); z-index: 1 }
      25%, 50% { transform: rotateZ(-135deg) rotateY(-180deg) rotateX(-180deg); z-index: 0 }
      62.5% { transform: rotateZ(-135deg) rotateY(0deg) rotateX(-180deg); z-index: 1 }
      75%, to { transform: rotateZ(-135deg) rotateY(0deg) rotateX(-360deg); z-index: 0 }
  }
  @keyframes leapFrogB {
      from, 25% { transform: rotateZ(-45deg) rotateY(0deg) rotateX(0deg); z-index: 0 }
      37.5% { transform: rotateZ(-45deg) rotateY(-180deg) rotateX(0deg); z-index: 1 }
      50%, 75% { transform: rotateZ(-45deg) rotateY(-180deg) rotateX(-180deg); z-index: 0 }
      87.5% { transform: rotateZ(-45deg) rotateY(0deg) rotateX(-180deg); z-index: 1 }
      to { transform: rotateZ(-45deg) rotateY(0deg) rotateX(-360deg); z-index: 0 }
  }
  
  /* Origami */
  .pl-origami {
      animation-name: origamiA;
      animation-timing-function: steps(4);
  }
  .pl-origami:before, .pl-origami:after {
      clip-path: polygon(50% 0,100% 100%,0% 100%);
      -webkit-clip-path: polygon(50% 0,100% 100%,0% 100%);
  }
  .pl-origami:before {
      animation-name: origamiB;
  }
  .pl-origami:after {
      animation-name: origamiC;
      transform: rotate(180deg);
  }
  @keyframes origamiA {
      from { transform: rotate(0) }
      to { transform: rotate(-360deg) }
  }
  @keyframes origamiB {
      from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateX(0deg) }
      12.5%, 62.5% { opacity: 1; transform: translateZ(1px) rotateX(-180deg) }
      37.5%, 87.5% { opacity: 0; transform: translateZ(0) rotateX(0deg) }
  }
  @keyframes origamiC {
      from, 25%, 50%, 75%, to { opacity: 1; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
      12.5%, 62.5% { opacity: 0; transform: translateZ(0) rotateZ(180deg) rotateX(0deg) }
      37.5%, 87.5% { opacity: 1; transform: translateZ(1px) rotateZ(180deg) rotateX(-180deg) }
  }
  
  /* Puzzle */
  .pl-puzzle:before, .pl-puzzle:after {
      transform-origin: 50% 50%;
  }
  .pl-puzzle:before {
      animation-name: puzzleA;
  }
  .pl-puzzle:after {
      animation-name: puzzleB;
      background: #a3a3a3;
  }
  @keyframes puzzleA {
      from { transform: translate(0,0) scale(1) rotate(0deg); z-index: 1 }
      12.5% { transform: translate(0,50%) scale(1.5) rotate(-90deg); z-index: 1 }
      25%, 50.1% { transform: translate(0,100%) scale(1) rotate(-180deg); z-index: 1 }
      25.1%, 50% { transform: translate(0,100%) scale(1) rotate(-180deg); z-index: 0 }
      62.5% { transform: translate(0,50%) scale(1.5) rotate(-270deg); z-index: 1 }
      75% { transform: translate(0,0) scale(1) rotate(-360deg); z-index: 1 }
      to { transform: translate(0,0) scale(1) rotate(-360deg); z-index: 0 }
  }
  @keyframes puzzleB {
      from { transform: translate(25%,50%) scale(1) rotate(90deg); z-index: 0 }
      25% { transform: translate(25%,50%) scale(1) rotate(90deg); z-index: 0 }
      25.1% { transform: translate(25%,50%) scale(1) rotate(90deg); z-index: 1 }
      37.5% { transform: translate(0,50%) scale(1.5) rotate(0deg); z-index: 1 }
      50%, 75.1% { transform: translate(-25%,50%) scale(1) rotate(-90deg); z-index: 1 }
      50.1%, 75% { transform: translate(-25%,50%) scale(1) rotate(-90deg); z-index: 0 }
      87.5% { transform: translate(0,50%) scale(1.5) rotate(-180deg); z-index: 1 }
      to { transform: translate(25%,50%) scale(1) rotate(-270deg); z-index: 1 }
  }
  
  /* Spark */
  .pl-spark:before {
      animation-name: scaleA;
  }
  .pl-spark:after {
      animation-name: scaleB;
  }
  @keyframes scaleA {
      from, 50%, to { transform: scale(1) }
      25%, 75% { transform: scale(-1) }
  }
  @keyframes scaleB {
      from, 50%, to { transform: rotate(90deg) scale(0) }
      12.5%, 62.5% { transform: rotate(90deg) scale(1) }
      37.5%, 87.5% { transform: rotate(90deg) scale(-1) }
  }
  
  /* Star */
  .pl-star {
      animation-name: starA;
  }
  .pl-star:after {
      transform: rotate(180deg);
  }
  @keyframes starA {
      from, to { opacity: 1; transform: rotate(0deg) scale(1) }
      25%, 75.1% { opacity: 0; transform: rotate(0deg) scale(0) }
      25.1%, 75% { opacity: 0; transform: rotate(90deg) scale(0) }
      50% { opacity: 1; transform: rotate(90deg) scale(1) }
  }
  
  /* Tuck Behind */
  .pl-tuckbehind:before {
      animation-name: tuckBehindA;
  }
  .pl-tuckbehind:after {
      animation-name: tuckBehindB;
      background: #a3a3a3;
  }
  @keyframes tuckBehindA {
      from { transform: rotate(0); z-index: 1 }
      25% { transform: rotate(180deg); z-index: 0 }
      50%, to { transform: rotate(360deg); z-index: 0 }
  }
  @keyframes tuckBehindB {
      from, 50% { transform: rotate(0); z-index: 0 }
      75% { transform: rotate(180deg); z-index: -1 }
      to { transform: rotate(360deg); z-index: -1 }
  }
  
  /** Media queries **/
  @media (prefers-color-scheme: dark) {
      body {
          background: #171717;
          color: #f1f1f1;
      }
      .pl-hourglass, .pl-leapfrog:after, .pl-puzzle:after, .pl-tuckbehind:after {
          background: #575757;
      }
  }
  @media screen and (min-width: 768px) {
      .cell {
          flex-basis: 33.33%;
      }
  }
  @media screen and (min-width: 1280px) {
      .cell {
          flex-basis: 25%;
      }
  }
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .container_2{
    background-color:#262626
    ;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  .container_3{
    background-color:#f4f4f4;
    
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  .dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  ul{
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  
  header{
    background: #353637;
    color: #ffffff;
    padding-top: 30px;
    min-height: 170px;
    border-bottom: #32a0c2 3px solid;
  }
  
  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    color: #32a0c2;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1{
    margin: 0;
  }
  
  header nav{
    float: right;
    margin-top: 10px;
  }
  
  header .highlight, header .current a {
    color: #32a0c2;
    font-weight: bold;
  }
  
  header a:hover{
    color: #cccccc;
    font-weight: bold;
  
  }
  
  /* Showcase */
  
  #showcase {
    min-height: 400px;
    background:url('../img/headerbg.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
  }
  
  #showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  #showcase p{
    font-size: 20px;
  }
  
  
  #boxes{
    margin-top: 20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
  }
  
  .container_question{
  
    background: #333;
    height: 600px;
    overflow: hidden;
    text-align: center;
  
  
  
  }
  footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
  }
  
  /* Sidebar */
  aside#sidebar {
    float: right;
    width: 30%;
    padding: 5px;
  }
  
  article#main-col{
    float: left;
    width: 65%;
  }
  
  aside#sidebar input, aside#sidebar textarea {
    width: 90%;
    padding: 5px;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #32a0c2;
  }
  
  ul#services h3{
    border-bottom: #353637 solid 1px;
  }
  
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
      float: none;
      text-align: center;
      width: 100%;
    }
  
    header {
      padding-bottom: 20px;
    }
  
    #showcase h1 {
      margin-top: 40px;
    }
  
    #newsletter button {
      display: block;
      width: 100%;
    }
  
    #newsletter form input[type="email"],
    .contact input,
    .contact textarea,
    .contact label{
      width: 100%;
      margin-bottom: 5px;
    }
  }
  
  a {
    color: #424949;
  }
  
  a:hover, a:active, a:focus {
    color: #6087A2 ;
  }
  .transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  #kids {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #kids {
    width:80px;
    margin:25px;
  }
  
  .transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  #testing {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #testing {
    width:80px;
    margin:25px;
  }
  
  .transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  #isol {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #isol {
    width:80px;
    margin:25px;
  }
  .transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  #old_people {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #old_people {
    width:80px;
    margin:25px;
  }
  
  .transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  #soc {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #soc {
    width:80px;
    margin:25px;
  }
  
  .transition {
    -webkit-transform: scale(1.6); 
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
  }
  #mag {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  }
  
  #mag {
    width:80px;
    margin:25px;
  }
  
  .text{
    text-align: center;
    color: #e7e7e7;
    font-family: sans-serif,helvetica;
    margin-top: 70px;
    font-size: 250%;
    font-weight: 400;
    text-shadow:2px 1px 2px #eee;
  }
  .fly-in{
    position: absolute;
    left: 50%;
    top: 50%;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
  }
  .fly-in li {
    display: inline-block;
    margin-right: 30px;
    font-family: sans-serif,helvetica;
    font-weight: 300;
    font-size: 38px;
    color: #e7e7e7;
    opacity: 1;
    transition: all 2.8s cubic-bezier(0.6, -.005, 0.32, 1.75);
  }
  .fly-in.hidden li {
    opacity: 0;
  }
  .fly-in.hidden li:nth-child(1) {
    transform: translateX(150px) translateY(-170px); 
  }
  .fly-in.hidden li:nth-child(2) {
    transform: translateX(-210px) translateY(170px); 
  }
  .fly-in.hidden li:nth-child(3) {
    transform: translateX(20px) translateY(-100px); 
  }
  .fly-in.hidden li:nth-child(4) {
    transform: translateX(-100px) translateY(-20px); 
  }
  .fly-in.hidden li:nth-child(5) {
    transform: translateX(-70px) translateY(-200px); 
  }
  .fly-in.hidden li:nth-child(6) {
    transform: translateX(200px) translateY(70px); 
  }
  .fly-in.hidden li:nth-child(7) {
    transform: translateX(30px) translateY(200px); 
  }
  .fly-in.hidden li:nth-child(8) {
    transform: translateX(30px) translateY(-100px); 
  }
  .fly-in.hidden li:nth-child(9) {
    transform: translateX(100px) translateY(-170px); 
  }
  .fly-in.hidden li:nth-child(10) {
    transform: translateX(50px) translateY(50px); 
  }
  .fly-in.hidden li:nth-child(11) {
    transform: translateX(50px) translateY(-200px); 
  }
  .fly-in.hidden li:nth-child(12) {
    transform: translateX(10px) translateY(-100px); 
  }
  
  .fly-in.hidden li:nth-child(13) {
    transform: translateX(10px) translateY(-100px); 
  }
  .fly-in.hidden li:nth-child(14) {
    transform: translateX(60px) translateY(-160px); 
  }
  .fly-in.hidden li:nth-child(15) {
    transform: translateX(30px) translateY(-50px); 
  }
  .fly-in.hidden li:nth-child(16) {
    transform: translateX(30px) translateY(-50px); 
  }
  .fly-in.hidden li:nth-child(17) {
    transform: translateX(50px) translateY(200px); 
  }
  .fly-in.hidden li:nth-child(18) {
    transform: translateX(-100px) translateY(-50px); 
  }
  .fly-in.hidden li:nth-child(19) {
    transform: translateX(-100px) translateY(-210px); 
  }
  .fly-in.hidden li:nth-child(20) {
    transform: translateX(-300px) translateY(50px); 
  }
  
  
  .text_2 {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: top;
    
  }
  
  
  @import url(https://fonts.googleapis.com/css?family=Playfair+Display);
  @import url(https://fonts.googleapis.com/css?family=Fauna+One);
  .snip1482 {
    font-family: 'Fauna One', Arial, sans-serif;
    position: relative;
    margin: 10px 20px;
    min-width: 230px;
    max-width: 295px;
    min-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #1a1a1a;
    font-size: 16px;
  }
  .snip1482 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .snip1482 img {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .snip1482 figcaption {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 0 20px 20px;
  }
  .snip1482 h2,
  .snip1482 p {
    margin: 0;
    width: 100%;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
  }
  .snip1482 h2 {
    font-family: 'Playfair Display', Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .snip1482 p {
    font-size: 0.8em;
  }
  .snip1482 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .snip1482:hover img,
  .snip1482.hover img {
    width: 55%;
    right: -10%;
  }
  .snip1482:hover figcaption h2,
  .snip1482.hover figcaption h2,
  .snip1482:hover figcaption p,
  .snip1482.hover figcaption p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  